<ion-view view-title="Makan Place">

    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/NasiPadangThumb.jpg">
                <h2>Super Delicious Nasi Padang</h2>
                <p>Kopitiam Sengkang Square</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/NasiPadang.jpg">
                <p>
                    Lorem ipsum dolor sit amet, his ne munere recteque, ei mei persius mnesarchum signiferumque. Vim ut reque neglegentur. Ad etiam platonem salutandi sit. Brute facer officiis eu pro. Ea solum dicat vel, odio libris reprimique mel at, alterum omittam conceptam sea ea. Cu nominati sensibus est, est ex nobis nemore adipisci, mea at elitr corpora.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>
</ion-view>
