<ion-view ng-controller="SearchCtrl" view-title="Search">

    <ion-content>
        <div class="center-form">
            <form class="list input-postal-code" ng-submit="getLocation(input.postalCode)" novalidate >
                <div class="item item-input-inset">
                    <label>Postal Code&nbsp;&nbsp;&nbsp;</label>
                    <label class="item-input-wrapper">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Postal Code" ng-model="input.postalCode">
                    </label>
                    <button class="button button-small">
                        Go
                    </button>
                </div>
            </form>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>

</ion-view>