<ion-view view-title="Notice">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">KampongKu</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                  You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
        <ion-footer-bar class="bar bar-footer bar-stable">
            <div class="title">Copyright @2015 by R3Team</div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
