<ion-view view-title="KampongKu" ng-controller="LocationCtrl">

    <ion-content class="padding">

        <div class="list card" ng-repeat="item in items" >
            <a href="#/location/{{item.id}}" class="item item-thumbnail-left">
                <img ng-src="{{ item.image }}">
                <h2>{{ item.title }}</h2>
                <h4 class="assertive">{{ item.notifications }}</h4>
            </a>
        </div>

    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>

</ion-view>
