<ion-view view-title="Pasar" ng-controller="PasarCtrl">

    <ion-content class="padding">
        <div class="list card" ng-repeat="item in items">
            <a href="#/pasar/{{item.id}}" class="item item-thumbnail-left">
                <img ng-src="{{ item.image }}">
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
            </a>
            <div class="item tabs tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-contact"></i>
                    Contact
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i>
                    Favorite
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>
</ion-view>
