<ion-view view-title="Resident Moment" ng-controller="MomentCtrl">

    <ion-content class="padding">

        <div class="list card">
            <div class="item item-avatar">
                <img src="img/yusak.jpg">
                <h2>Yusak Rabin</h2>
            </div>
            <div class="item item-body">
                <p>
                    Project Manager
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/isak.jpg">
                <h2>Isak Rabin</h2>
            </div>
            <div class="item item-body">
                <p>
                    Software Engineer
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/wiely.jpg">
                <h2>Wiely Rabin</h2>
            </div>
            <div class="item item-body">
                <p>
                    Development Manager
                </p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>
</ion-view>
