<ion-view ng-controller="DashboardCtrl" view-title="KampongKu">

    <ion-content>
        <div class="row">
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/kampongku.jpg">
                    </div>
                    <a class="item" href="#/kampongku">
                        KampongKu
                    </a>
                </div>
            </div>
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/activities.png">
                    </div>
                    <a class="item" href="#/activities">
                        Activities
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/notice.png">
                    </div>
                    <a class="item" href="#/notice">
                        Notice Board
                    </a>
                </div>
            </div>
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/pasar.png">
                    </div>
                    <a class="item" href="#/pasar">
                        Pasar
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/moment.jpg">
                    </div>
                    <a class="item item-balanced" href="#/moment">
                        Resident Moment
                    </a>
                </div>
            </div>
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/message.png">
                    </div>
                    <a class="item item-balanced" href="#/message">
                        Messages
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/corner.png">
                    </div>
                    <a class="item" href="#/corner">
                        Resident Corner
                    </a>
                </div>
            </div>
            <div class="col col-33 col-offset-10">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/setting.jpg">
                    </div>
                    <a class="item" href="#/setting">
                        Settings
                    </a>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>

</ion-view>