<ion-view ng-controller="SearchCtrl" view-title="Search">
    <ion-header-bar class="bar bar-header bar-stable">

        <button class="button icon ion-navicon"></button>
        <h1 class="title">KampongKu</h1>

    </ion-header-bar>

    <ion-content>
        <div class="center-form">
            <div class="list input-postal-code">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Postal Code">
                    </label>
                    <button class="button button-small" ng-click="navToHome()">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable bar-assertive">
        <div class="title">Copyright @2015 by R3Team</div>
    </ion-footer-bar>

</ion-view>