<ion-view ng-controller="DashboardCtrl" view-title="KampongKu">

    <ion-content>
        <div class="responsive-sm">
            <div class="row">
                <div class="col col-35 col-offset-5 dashboard-icon">
                    <div class="list card list-borderless dashboard-card">
                        <a class="item item-assertive text-center assertive" href="#/location">
                            KampongKu
                        </a>
                        <div class="item item-image">
                            <img src="img/maps.png" class="dashboard-image" href="#/location">
                        </div>
                    </div>
                </div>
                <div class="col col-35 col-offset-5">
                    <div class="list card list-borderless dashboard-card">
                        <a class="item item-assertive text-center assertive" href="#/notice">
                            Notifications
                        </a>
                        <div class="item item-image">
                            <img src="img/notice.png" class="dashboard-image" href="#/notice">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-35 col-offset-5">
                    <a class="item item-assertive text-center assertive" href="#/activities">
                        Activities
                    </a>
                    <div class="list card list-borderless dashboard-card">
                        <div class="item item-image">
                            <img src="img/activity.png" class="dashboard-image"  href="#/activities">
                        </div>
                    </div>
                </div>
                <div class="col col-35 col-offset-5">
                    <div class="list card list-borderless dashboard-card">
                        <a class="item item-assertive text-center assertive" href="#/pasar">
                            Pasar
                        </a>
                        <div class="item item-image">
                            <img src="img/pasar.png" class="dashboard-image" href="#/pasar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-35 col-offset-5">
                    <div class="list card list-borderless">
                        <a class="item item-assertive text-center assertive" href="#/moment">
                            Moments
                        </a>
                        <div class="item item-image">
                            <img src="img/moment.png" class="dashboard-image" href="#/moment">
                        </div>
                    </div>
                </div>
                <div class="col col-35 col-offset-5">
                    <div class="list card list-borderless">
                        <a class="item item-assertive text-center assertive" href="#/corner">
                            Forums
                        </a>
                        <div class="item item-image">
                            <img src="img/forum.png" class="dashboard-image" href="#/corner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>


    <ion-footer-bar class="bar bar-footer bar-stable">
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/dashboard">
                <i class="icon ion-home"></i>
                Home
            </a>
            <a class="tab-item" href="#/setting">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
            <a class="tab-item" href="#/about">
                <i class="icon ion-information"></i>
                About
            </a>
        </div>
    </ion-footer-bar>

</ion-view>